@charset "utf-8";
/* CSS Document */

#header {
    font-size: 40px;
}

body {
    background-color: li;
    font-size: 3vmin;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
}

.pageBody {
    background-color: cecece;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 95%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 25px;
}
.spacer10px {
    width: 100%;
    height: 10px;
}

.spacer20px {
    width: 100%;
    height: 20px;
}

.spacer2em {
    width: 100%;
    height: 2em;
}

.cardTypeIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.cardTypeIcon {
    max-width: 30px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    margin-right: 10px;
}

.cardTypeIcon.active {
    filter: grayscale(0%);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 16px;
    margin-top: -30px; /* moves the form higher */
}

#orderForm {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border: 1px solid rgb(226, 226, 238);
    border-radius: 25px;
    background-color: #f7faff;
    margin:auto;
    box-shadow: 0 0 20px rgba(167, 169, 203, 0.5); /* glow effect */
    position: relative;
}

#orderForm .form-group {
    margin-bottom: 15px;
}

#orderForm label{ 
    display: block;
    margin-bottom: 10px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 430;
    font-style: normal;
    font-size: 14px; 
}

#orderForm input {
    width: 90%;
    padding: 12px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: normal;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #ececec;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: none; 
}

#orderForm input::placeholder {
    font-weight: 450;
    color:#6a6a6a;
}

#orderForm button {
    background-color: rgb(17, 174, 17);
    color: white;
    padding: 11px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border: none;
    border-radius: 50px;
}

#orderForm .form-group label {
    position: relative;
}

#orderForm .form-group label .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#orderForm input:focus + label {
    top: 2px;
    left: 5px;
    font-size: 12px;
}

#orderForm button:hover {
    background-color: #5dce64;
}

.button-back {
    background-color: #e3e9ee;
    color: #5d4eb1;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back:hover {
    background-color: #abc2d2;
}

@media (min-width: 768px) {
    .button-74 {
    min-width: 120px;
    padding: 0 25px;
    }
}

.order-entry-header {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #56d8e4, #9f01ea);
    color: transparent;
    display: block;
    margin: 0 auto;
    padding: 10px;
    -webkit-background-clip: text; 
    background-clip: text;
}