/* orderlist.css */

#page-2 .pageBody {
    background-color: #f2f2f2;
    padding: 20px;
}

#loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: rgba(110, 105, 126, 0.13);
    padding: 70px 55px;
    border-radius: 35px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(88, 86, 99, 0.6);
    text-align: center;
}

#loginContainer h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#loginContainer label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

#loginContainer input {
    width: 90%;
    height: 50px;
    background-color: rgba(252, 252, 252, 0.555);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#loginButton {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back-orderlist {
    background-color: #e3e9ee;
    color: #5d4eb1;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back-orderlist:hover {
    background-color: #abc2d2;
}

#loginButton:hover {
    background-color: #86badc;
}

#orderListContent {
    display: none;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-group {
    flex: 0 0 calc(33.33% - 10px); /* Three items per row */
    margin-bottom: 20px;
    margin-right: 10px; /* Increase margin between filter-group elements */
}

.filter-group label {
    margin-bottom: 3px;
    font-size: 14px;
}

.filter-group input[type="text"],
.filter-group select {
    width: calc(100% - 20px); /* Adjusted width to accommodate margin */
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#sortOrder,
#statusFilter {
    width: calc(50% - 5px); /* Reduce width */
    margin-top: 3px; /* Adjust margin to align with other inputs */
    margin-right: 10px; /* Increase margin between sort order and status */
}

.filter-group:last-child {
    flex: 1 0 100%; /* Make the last filter group take full width */
    margin-right: 0; /* Remove right margin for last filter group */
}

#clearFiltersButton {
    background-color: #3498db;
    color: #fff;
    padding: 9px 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clearFiltersButton:hover {
    background-color: #2980b9;
}

#sorting label {
    margin-right: 10px;
}

#sortOrder,
#statusFilter {
    width: 97%;
    background-color: rgba(252, 252, 252, 0.555);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-top: 3px; /* Adjust the margin to make them closer */
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
}

#logOutButton {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    margin: 55px; /* Add margin for spacing */
    background: linear-gradient(to right, #f34404, #b28e85);
    color: #fff;
    padding: 11px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logOutButton:hover {
    background-color: #2980b9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* sets table color */
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #3498db;
    color: #fff;
}

#orderTableBody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.compact-filters {
    display: flex;
    flex-wrap: wrap;
}

.filter-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.table-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.order-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    position: relative;
}

.order-table th {
    background: linear-gradient(45deg, #4a90e2, #029eb3, #4a90e2);
    color: white;
}

.order-table tbody tr:nth-child(odd) {
    background-color: white;
}

.order-table tbody tr:nth-child(even) {
    background-color: #2C3446;
}

.order-table td:hover {
    background-color: #ff6627; /* this will change the pop up color when hovered */
    color: white;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    .order-table {
        font-size: 12px;
    }

    .order-table th,
    .order-table td {
        padding: 10px;
    }
}

.order-list-header {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #409aa2, #9f01ea);
    color: transparent;
    display: block;
    margin: 0 auto;
    padding: 10px;
    -webkit-background-clip: text;
    background-clip: text;
}

.order-list-ui-header {
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #5a3a8a, #042768);
    color: transparent;
    display: block;
    margin: 0 auto;
    padding: 10px;
    -webkit-background-clip: text;
    background-clip: text;
}
